body, html {
  -webkit-font-smoothing: subpixel-antialiased;
  height: 100%;
  width: 100%;
}

body {
  position: relative;
  font: normal 13px/25px Helvetica, Arial, sans-serif;
  font-weight: 300;
}

// EXPLORE LAYOUT

.wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  max-width: none;
  margin: 0px auto;
  box-shadow: none;
  overflow: hidden;
}

body.login {
  background-image: $login-form-background-image;
}

.container-infos {
  height: 90px;
}