body, html {
  -webkit-font-smoothing: subpixel-antialiased;
}

body {
  max-width: 1360px;
  margin: 0 auto;
  @include box-shadow(rgba(0,0,0,0.1) 0px 0 20px 10px);
  position: relative;
  font: normal 13px/25px Helvetica, Arial, sans-serif;
  font-weight: 300;
}

// EXPLORE LAYOUT

body.fullscreen{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  max-width: none;
  margin: 0px auto;
  box-shadow: none;
}

.container-infos {
  height: 90px;
}

.placeholder {
  width: 100%;
  background: $clouds;
  height: 170px;
}