.layer-menu {
  float: right;
  padding: 10px;
  padding-top: 20px;
  .layer-menu-icon {
    font-size: 16px;
    color: white;
    padding: 0px 5px;
    text-align: center;
  }
}
.layer-menu-list {
  font-size: 15px;
}

.th-action {
  width: 40px;
}