<!DOCTYPE html>
<html>
<head>
  <title>Core</title>
  <%= stylesheet_link_tag    "core/application", media: "all" %>
  <%= javascript_include_tag "core/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
