@import "config/colors";
@import "vendor/vendor";
@import "base/layout";
@import "components/components";
@import "modules/modules";

.input-select {
  margin: 10px 0 10px 0;
  select.input-xxlarge {
    width: 545px;
  }
}