label.boolean {
  margin-right: 10px;
}

.file.form-control {
  border: 0;
  @include box-shadow(none);
  padding-left: 0;
}
.role_checkboxes input{
  margin-right: 1px;
}
.role_checkboxes label{
  margin-left: 10px;
}