.navbar-backend {
  background: $color-panel-1-darkened;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  min-height: 70px;
  border-radius: 0;
  border: {
    top: 0;
    left: 0;
    right: 0;
  }
  .navbar-form {
    margin-top: 20px;
  }
  .container {
    width: 1300px;
  }
  .navbar-brand {
    img {
      margin-top: -8px;
    }
  }
  .nav {
    margin: 9px 10px 0 0;
    > li {
      margin: 5px;
      > a {
        font-family: 'Open Sans Condensed';
        font-size: 13px;
        color: $color-panel-2-fallback;
        display: inline-block;
        background: $color-panel-1;
        margin: 0px;
        padding: 0px 25px;
        text-transform: uppercase;
        border-radius: 4px;
        height: 40px;
        line-height: 40px;
        font-weight: bolder;
        &:hover, &:focus {
          color: $color-panel-2;
          background-color: $color-panel-1-lightened;
        }
        &.brand {
          background: none;
        }
      }
    }
  }
  margin-bottom: 0px;
}