.search-container {
  background: $color-panel-5;
  padding: 10px 40px;

  form {
    margin-bottom: 0;
  }
  .input-append {
    .search-query {
      border-radius: 4px 0 0 4px;
    }
    .btn {
      margin-top: 1px;
      padding: 6px 14px 5px;
      border: 1px solid #CCC;
      border-left: none;
      border-radius: 0 4px 4px 0;
    }
  }
}