.table-backend {
  th {
    color: #CCC;
    font-weight: bold;
  }
  td {
    vertical-align: middle;
    line-height: 23px;
    &.actions {
      vertical-align: middle;
    }
    &.default {
      color: #666;
      font-style: italic;
    }
    .btn-group {
      margin-right: 20px;
    }
    .btn {
      margin-top: 0;
    }
    .btn-group .btn {
      float: none;
    }
    .glyphicon.glyphicon-layer-btn-primary {
      margin-top: 5px;
      margin-right: 5px;
    }
    .glyphicon.glyphicon-folder {
      margin-top: 4px;
      margin-right: 5px;
    }
  }
  &.categories-index {
    span.left-space {
      padding: 0 24px;
    }
  }
}

.table-import {
  h3 {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 0;
    line-height: 25px;
  }
  small {
    color: #888;
  }
  .infos {
    margin-top: 10px;
  }
  .import {
    vertical-align: middle;
  }
}