@import "md-colors";

// General palettes

$primary-palette: $md-list-blue-grey !default;
$secondary-palette: $md-list-light-blue !default;
$tertiary-palette: $md-list-light-blue !default;

$color-panel-1: nth($primary-palette, 5) !default;
$color-panel-1-darkened: nth($primary-palette, 7) !default;
$color-panel-1-lightened: nth($primary-palette, 2) !default;

$color-panel-2: nth($secondary-palette, 5) !default;
$color-panel-2-fallback: white !default;
$color-panel-2-lightened: nth($secondary-palette, 2) !default;

$color-panel-3: nth($tertiary-palette, 5) !default;

// Bootstrap variables

$navbarLinkColor: $color-panel-2-fallback !default;
$navbarText: $color-panel-2-fallback !default;
$navbarBrandColor: $color-panel-2-fallback !default;
$navbarLinkColorHover: #D4EBFA !default;
$sansFontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$linkColor: $color-panel-1 !default;

$btn-font-weight:                normal !default;

$btn-default-color:              $color-panel-2-fallback !default;
$btn-default-bg:                 $color-panel-2 !default;
$btn-default-border:             nth($tertiary-palette, 7) !default;


$btn-primary-color:              $color-panel-2-fallback !default;
$btn-primary-bg:                 $color-panel-2 !default;
$btn-primary-border:             nth($tertiary-palette, 7) !default;

$component-active-bg: $color-panel-2;