// Blues
$oxford_blue: #3C4E5A;
$boston_blue: #3887BE;
$outer_space: #28353D;

// Light blue
$peter_river: #3498DB;
$belize_hole: #2980B9;

// Deep blue
$wet_asphalt: #34495E;
$midnight_blue: #2C3E50;

// Light grey
$clouds: #ECF0F1;
$silver: #BDC3C7;

$mercury: #e4e4e4;

// Dark grey
$concrete: #95A5A6;
$absestos: #7F8C8D;

// Red
$alizarin: #E74C3C;
$pomegranate: #C0392B;

// Green
$emerland: #2ECC71;
$nephritis: #27AE60;