// General palettes

$primary-palette: $md-list-blue-grey !default;
$secondary-palette: $md-list-light-blue !default;
$tertiary-palette: $md-list-light-blue !default;

$color-panel-1: nth($primary-palette, 5) !default;
$color-panel-1-darkened: nth($primary-palette, 7) !default;
$color-panel-1-lightened: nth($primary-palette, 2) !default;

$color-panel-2: nth($secondary-palette, 5) !default;
$color-panel-2-fallback: white !default;
$color-panel-2-lightened: nth($secondary-palette, 2) !default;

$color-panel-3: nth($tertiary-palette, 5) !default;

// Application variables

$hud-background-color: white !default;
$hud-body-color: $md-clr-ui-body-1 !default;

$hud-tab-background-color: $color-panel-1-darkened !default;
$hud-tab-background-color-active: nth($primary-palette, 9) !default;
$hud-tab-color: $color-panel-2-fallback !default;
$hud-tab-color-active: $color-panel-2-fallback !default;
$hud-layer-chevron: $color-panel-2 !default;

$save-button-background-color: $color-panel-2 !default;
$save-button-color: $color-panel-2-fallback !default;

$action-bar-background-color: $color-panel-1 !default;
$action-bar-color: $color-panel-2-fallback !default;

$catalog-background-color: white !default;
$catalog-body-color: $md-clr-ui-body-1 !default;
$catalog-heading-color: $md-clr-ui-headline !default;

$breadcrumb-background-color: $color-panel-1 !default;
$breadcrumb-border-color: $color-panel-1-darkened !default;
$breadcrumb-body-color: $color-panel-2-fallback !default;

$media-background-color: white !default;
$media-body-color: $md-clr-ui-body-1 !default;
$media-heading-color: $md-clr-ui-headline !default;
$media-icon-color: $color-panel-1 !default;

$top-sidebar-border-top-color: $color-panel-2 !default;
$top-sidebar-background-color: white !default;
$top-sidebar-body-color: $md-clr-ui-headline !default;
$top-sidebar-heading-color: $md-clr-ui-headline !default;
$user-image-border-color: $color-panel-2 !default;

$ui-slider-range-background-color: $color-panel-2 !default;
$timeline-border-color: #E5E5E5 !default;
$thumbnail-placeholder-background-color: #E5E5E5 !default;

// Bootstrap variables

$navbarLinkColor: $color-panel-2-fallback !default;
$navbarText: $color-panel-2-fallback !default;
$navbarBrandColor: $color-panel-2-fallback !default;
$navbarLinkColorHover: #D4EBFA !default;
$sansFontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$linkColor: $color-panel-1 !default;

$btn-font-weight:                normal !default;

$btn-default-color:              $color-panel-2-fallback !default;
$btn-default-bg:                 $color-panel-2 !default;
$btn-default-border:             nth($tertiary-palette, 7) !default;


$btn-primary-color:              $color-panel-2-fallback !default;
$btn-primary-bg:                 $color-panel-2 !default;
$btn-primary-border:             nth($tertiary-palette, 7) !default;

$component-active-bg: $color-panel-2;