body {
  background: #eee url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB9wHFwcfBBm+GcAAAAAySURBVBjTY2RgYBB5+vTpGwYkIC0tjSHG+PTpUwZiABMDkYAGCqWlpUXQBbGJDQXPAAACQA3p/nxRSgAAAABJRU5ErkJggg==);
  padding-top: 70px;
}

.main-container {
  background: white;
  padding-bottom: 20px;
}