#catalog {
  padding-bottom: 30px;
  background: $catalog-background-color;
  color: $catalog-body-color;
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0px;
  top: 0px;
  overflow-y: auto;
  &.active {
    visibility: visible;
    z-index: 1100;
    background: rgba(250, 250, 250, 0.7);
    opacity: 1;
  }
  .container {
    position: relative;
  }
  .catalog-close-button-container {
    position: absolute;
    top: 40px;
    right: 0;
    .btn-close {
      position: fixed;
      padding: 2px 8px 4px 8px;
      &.close {
        background-color: $catalog-close-button-background-color;
        color: $catalog-close-button-color;
        border: 1px solid $catalog-close-button-border-color;
        text-shadow: none;
        @include opacity(100);
      }
    }
  }
  .page-header {
    margin-bottom: 15px;
  }
  h1 {
    // margin-left: 20px;
    text-transform: none;
    color: $catalog-heading-color;
  }
  .breadcrumb {
    background-color: $breadcrumb-background-color;
    border: 1px solid $breadcrumb-border-color;
    color: $breadcrumb-body-color;
    i {
      color: $breadcrumb-link-color;
      text-shadow: none;
    }
    > li > a {
      text-shadow: none;
      color: $breadcrumb-link-color;
      cursor: pointer;
    }
  }

}

.media {
  background: $media-background-color;
  color: $media-body-color;
  cursor: pointer;
  border: 1px solid #DADADA;
  @include not-selectable;
  h4 {
    cursor: pointer;
    font-weight: 500;
    color: $media-heading-color;
    [class^="icon-"] {
      margin: 4px 0 3px;
    }
  }
  .carticon-folder {
    color: $media-icon-color;
  }
  .media-body {
    padding: 5px;
  }
  .image-link {
    margin: 5px;
    background: #F2EFE9;
    border: 1px solid #D8D5D0;
    height: 64px;
    width: 64px;
  }
  &.added {
    @include box-shadow(inset 0 1px 6px rgba(0, 0, 0, 0.25));
    @include background-image(linear-gradient(top, #EEE, #DDD));
  }
}

// CATALOG - CATEGORIES

#categories {
  // margin: {
  //   right: 50px;
  //   left: 50px;
  // }
  .back {
    margin-bottom: 10px;
    margin-top: 0;
    @include not-selectable;
  }
  a.category {
    width: 100%;
    display: block;
    background-color: white;
    @include border-radius(5px);
    margin-bottom: 5px;
    height: 20px;
    padding: 5px;
  }
}

.source {
  color: #B4B4B4;
  font-size: 10px;
  margin: -3px 0 1px;
  text-transform: uppercase;
  font-variant: small-caps;
  a {
    color: #B4B4B4;
  }
}

.media.layer {
  float: left;
  width: 48%;
  margin-left: 1%;
  margin-top: 15px;
  .description {
    @include ellipsis;
  }
}

.small-space {
  height: 10px;
}

.checkbox-big{
  font-size: 1.4em;
  margin: 1px;
}

.checkbox-cart-item{
  font-size: 1em;
  margin: 1px;
  margin-right: 5px;
}