#catalog {
  padding-bottom: 30px;
  background: white;
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0px;
  top: 0px;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  transition: opacity .35s, z-index .35s;
  -moz-transition: opacity .35s, z-index .35s;
  -webkit-transition: opacity .35s, z-index .35s;
  &.active {
    visibility: visible;
    z-index: 1100;
    background: rgba(250, 250, 250, 0);
    opacity: 1;
  }
  .btn-close {
    margin: 20px;
    position: fixed;
    top: 20px;
    right: 0px;
    padding: 2px 8px 4px 8px;
    &.close {
      color: white;
      text-shadow: none;
      @include opacity(100);
      background-color: $btn-default-bg;
    }
  }
  .page-header {
    margin-bottom: 15px;
  }
  h1 {
    margin-left: 20px;
    text-transform: none;
    color: $color-panel-1-darkened;
  }
  .breadcrumb {
    background-color: $color-panel-1;
    border: 1px solid $color-panel-2;
    i {
      color: white;
      text-shadow: none;
    }
    > li > a {
      text-shadow: none;
      color: white;
      text-decoration: none;
      cursor: pointer;
    }
  }

}

.media {
  background: white;
  cursor: pointer;
  border: 1px solid #DADADA;
  @include not-selectable;
  h4 {
    cursor: pointer;
    font-weight: 500;
    color: $color-panel-1-darkened;
    [class^="icon-"] {
      margin: 4px 0 3px;
    }
  }
  .carticon-folder {
    color: $color-panel-2;
  }
  .media-body {
    padding: 5px;
  }
  .image-link {
    margin: 5px;
    background: #F2EFE9;
    border: 1px solid #D8D5D0;
    height: 64px;
    width: 64px;
  }
  .added {
    @include box-shadow(inset 0 1px 6px rgba(0, 0, 0, 0.25));
    @include background-image(linear-gradient(top, #EEE, #DDD));
  }
}

// CATALOG - CATEGORIES

#categories {
  // margin: {
  //   right: 50px;
  //   left: 50px;
  // }
  .back {
    margin-bottom: 10px;
    margin-top: 0;
    @include not-selectable;
  }
  a.category {
    width: 100%;
    display: block;
    background-color: white;
    @include border-radius(5px);
    margin-bottom: 5px;
    height: 20px;
    padding: 5px;
  }
}

.source {
  color: #B4B4B4;
  font-size: 10px;
  margin: -3px 0 1px;
  text-transform: uppercase;
  font-variant: small-caps;
  a {
    color: #B4B4B4;
  }
}

.media.layer {
  float: left;
  width: 48%;
  margin-left: 1%;
  margin-top: 15px;
  .description {
    @include ellipsis;
  }
}

.small-space {
  height: 10px;
}
