.folder-display {
  font-size: 130px;
  text-align: center;
  line-height: 130px;
}

.back-folder {
  background-color: $button-color;
  color: white;
  padding: 5px 20px;
  line-height: 60px;
  margin-left: 2.12766%;
}
.back-folder:hover {
  background-color: $darken-button-color;
  text-decoration: none;
}

.non-public-folder {
  color: #e2dbdb;
}