.button-plugins-right {
  height: 40px;
  background: white;
  right: -52px;
  position: absolute;
  padding: 7px 7px;
  border-left: 3px solid rgb(41, 182, 246);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  color: rgb(127, 127, 127);
  cursor: pointer;
  &:hover {
    right: 0;
  }
  .carticon-folder {
    font-size: 23px;
    margin-right: 5px;
    vertical-align: middle;
  }
}

#folders-button {
  top: 15px;
}

.folder-display {
  font-size: 130px;
  text-align: center;
  line-height: 130px;
}

.non-public-folder {
  color: #e2dbdb;
}
