// LEFT NAVBAR

.hud {
  color: $oxford_blue;
  z-index: 1000;
  position: absolute;
  left: 10px;
  top: 10px;
  width: $hudsize;
  height: auto;
  max-height: 450px;
  // padding-bottom: 10px;
  background: white;
  .tab-content {
    // position: absolute;
    // top: 105px;
    // left: 0;
    // right: 0;
    // bottom: 50px;
    overflow-y: auto;
  }
  .nav.nav-tabs {
    margin-bottom: 0px;
  }
}

// LEFT NAVBAR - SAVE AND SHARE

.btn.geovisu {
  margin-left: 15px;
  padding: 8px 12px 9px;
  i {
    margin-top: 3px;
  }
}

// LEFT NAVBAR - TABS
#hud-tab {
  > ul > li {
    margin-left: 0;
    width: 33.3333%;
    a {
      background-color: $color-panel-2;
      color: #FFF;
      font-weight: 500;
      font-size: 13px;
      line-height: 15px;
      letter-spacing: 0.5px;
      cursor: pointer;
      border-right: none;
      border-left: 1px solid rgba(255, 255, 255, 0.25);
      border-top: 1px solid rgba(255, 255, 255, 0.25);
      border-color: rgba(255, 255, 255, 0.25) !important;
      @include border-radius(0px);
      margin-right: 0;
      text-align: center;
    }
    &.active a {
      background-color: darken($color-panel-2, 15);
    }
    &:first-child {
      a {
        border-left: none;
      }
    }
  }
}

#save-button {
  cursor: pointer;
  text-decoration: none;
  width: 130px;
  position: absolute;
  top: 65px;
  left: 450px;
  z-index: 300;
  height: 37px;
  text-align: center;
  border-radius: 0 4px 4px 0;
  padding: 5px;
  background: rgba($color-panel-3, 0.8);
  color: #FFF;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.5px;
  text-shadow: none;
  &.saved {
    background: rgba($color-panel-3, 0.5);
    cursor: initial;
  }
}

.btn .carticon-menu {
  line-height: 10px;
  font-size: 14px;
}

// LEFT NAVBAR - CONTROLS


#legend {
  padding: 10px;
}

.hud-panel {
  max-height: 348px;
  overflow-y: auto;
}

// LEFT NAVBAR - TABS - LAYERS

#layers {
  .hud-panel {
    max-height: 300px;
  }
}

//  LEFT NAVBAR - TABS - LAYERS - ADD BUTTON

.add-layer {
  background: $color-panel-1;
  color: white;
  font-weight: 500;
  height: 38px;
  padding: 0 15px;
  span {
    line-height: 35px;
  }
  a {
    margin-top: 7px;
  }
}
