 .hud {
  color: $hud-body-color;
  z-index: 1000;
  position: absolute;
  left: 10px;
  top: 10px;
  width: $hudsize;
  height: auto;
  background: $hud-background-color;
  .tab-content {
    overflow-y: auto;
  }
  .nav-filled {
    position: relative;
  }
  .nav.nav-tabs {
    margin-bottom: 0px;
  }
}

.hud-panel {
  overflow-y: auto;
}

#layers {
  .hud-panel {
    max-height: 300px;
  }
}

#infos {
  max-height: 380px;
}

#legend {
  padding: 10px;
  max-height: 450px;
  .hud-panel {
    max-height: 350px;
  }
}

#save-button {
  cursor: pointer;
  text-decoration: none;
  width: 130px;
  position: absolute;
  top: 34px;
  left: 450px;
  z-index: 300;
  height: 37px;
  text-align: center;
  border-radius: 0 4px 4px 0;
  padding: 5px;
  background: rgba($save-button-background-color, 0.8);
  color: $save-button-color;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.5px;
  text-shadow: none;
  &.saved {
    background: rgba($save-button-background-color, 0.5);
    cursor: initial;
  }
}

.btn .carticon-menu {
  line-height: 10px;
  font-size: 14px;
}

.page-header.project-name {
  padding: 20px;
  margin: 0;
  h3 {
    margin: 0;
    font-size: 15px;
    line-height: 20px;
  }
}

.project-description {
  margin: {
    top: 5px;
    left: 20px;
    right: 20px;
  }
}

.save-project-features {
  margin: 30px;
  p {
    font-weight: bold;
  }
}