// LEFT NAVBAR

.hud {
  color: $oxford_blue;
  z-index: 1000;
  position: absolute;
  left: 30px;
  top: 10px;
  width: $hudsize;
  height: auto;
  max-height: 400px;
  padding-bottom: 10px;
  background: white;
  transition: left 300ms;
  -moz-transition: left 300ms;
  -webkit-transition: left 300ms;
  @include box-sizing(border-box);
  .tab-content {
    // position: absolute;
    // top: 105px;
    // left: 0;
    // right: 0;
    // bottom: 50px;
    overflow-y: auto;
  }
  .nav.nav-tabs {
    margin-bottom: 0px;
  }
}

// LEFT NAVBAR - SAVE AND SHARE
.buttons-placeholder {
  height: 47px;
}

.map-controls {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.m-btn.geovisu {
  margin-left: 15px;
  padding: 8px 12px 9px;
  i {
    margin-top: 3px;
  }
}

// LEFT NAVBAR - TABS
#hud-tab {
  > ul > li {
    margin-left: 0;
    width: 33.3333%;
    a {
      background-color: $oxford_blue;
      color: #FFF;
      font-weight: bold;
      font-size: 11px;
      cursor: pointer;
      border-right: none;
      border-left: 1px solid rgba(255, 255, 255, 0.25);
      border-top: 1px solid rgba(255, 255, 255, 0.25);
      border-color: rgba(255, 255, 255, 0.25) !important;
      @include border-radius(0px);
      margin-right: 0;
      text-align: center;
    }
    &.active a {
      background-color: darken($oxford_blue, 15);
    }
    &:first-child {
      a {
        border-left: none;
      }
    }
  }
}

#save-button {
  cursor: pointer;
  text-decoration: none;
  width: 130px;
  position: absolute;
  top: 11px;
  left: 481px;
  z-index: 300;
  height: 26px;
  text-align: center;
  border-radius: 0 4px 4px 0;
  padding: 5px;
  background: #8889CC;
  color: #FFF;
  font-size: 11px;
  font-weight: bold;
}

.m-btn .carticon-menu {
  line-height: 10px;
  font-size: 14px;
}

// LEFT NAVBAR - CONTROLS

#ctrls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #E6E6E6;
  z-index: 50;
  .m-btn {
    margin-top: 0;
    padding: 10px 19px;
    margin: 0;
    &:last-child {
      padding: 10px 4px;
    }
  }
}

#legend {
  padding: 10px;
}

.hud-panel {
  max-height: 330px;
  overflow-y: scroll;
}

// LEFT NAVBAR - TABS - LAYERS

#layers {
  .hud-panel {
    max-height: 324px;
  }
  .cart-item-controls {
    // visibility: hidden;
  }
  label {
    margin-bottom: 2px;
  }
  .layer-visibility {
    margin-top: -1px;
    margin-right: 5px;
  }
  .grippy {
    display: inline-block;
    background: asset-url("geocms/grippy.png") repeat-y right;
    height: 35px;
    width: 10px;
    vertical-align: top;
    margin-right: 4px;
    cursor: move;
  }
  .right-infos {
    display: inline-block;
    width: 430px;
    .title {
      @include ellipsis;
      cursor: pointer;
    }
  }
  .control-buttons {
    margin-left: -2px;
    a:hover {
      background: none;
    }
  }
  .dimensionable {
    height: 50px;
  }
  .dimensions-list {
    // @include column-count(3);
    // li.active {
    //   font-weight: bold;
    //   font-size: 13px;
    //   color: #0072BB;
    // }
    width: 155px;
    float: left;
    margin: 5px 6px 0 9px;
    .ui-slider .ui-slider-handle {
      width: 10px;
    }
  }
  .wrap-dates {
    font-size: 11px;
  }
  .dimension-value {
    display: inline-block;
    vertical-align: top;
    margin-left: 40px;
    font-weight: bold;
    margin-top: 1px;
  }
  .opacity-controler {
    margin-top: 5px;
    width: 285px;
    i {
      float: left;
      cursor: pointer;
      margin-top: -2px;
    }
    .icon-plus {
      margin-left: 2px;
    }
  }
}

#layer-list {
  label {
    font-size: 13px;
  }
  padding: {
    left: 0;
    right: 0;
  }
  > li {
    padding: {
      top: 5px;
      bottom: 5px;
      left: 2px;
    }
    border-bottom: 1px solid #eee;
    &:last-child {
      border-bottom: 0;
    }
  }
}

//  LEFT NAVBAR - TABS - LAYERS - ADD BUTTON

.add-layer {
  background: $boston_blue;
  color: white;
  font-weight: 500;
  height: 38px;
  padding: 0 15px;
  span {
    line-height: 35px;
  }
  .layer-button {
    padding: 5px 10px;
    height: 20px;
    background: #B4C2CC;
    @include border-radius(3px);
    [class^="icon-"] {
      margin-top: 2px;
    }
    .icon-layer {
      background-position: bottom;
      margin-top: 4px;
    }
    &:hover {
      background: $oxford_blue;
    }
  }
}
