.btn {
  border-radius: 0px;
  border: 0;
  line-height: 1.6;
}

.btn-submit {
  width: 100%;
  height: 40px;
  font-weight: 500;
  @include border-radius(5px);
}

.control-buttons{
  margin-top: 2px;
  a{
    cursor: pointer;
    margin-top: 0;
    padding: 4px 0px;
  }
  .btn {
    // @include background-image(linear-gradient(top, #EEE, #E4E4E4));
    min-width: 35px;
    margin: 0 2px;
    &:first-child {
      @include border-radius(4px 0 0 4px);
    }
    &:last-child {
      @include border-radius(0 4px 4px 0);
    }
  }
}

.from-map {
  padding-top: 45px;
  // font-size: 9px;
}

.import-btn {
  i {
    margin-top: 3px;
  }
}

.page-header {
  .btn {
    margin-top: 20px;
  }
}


.add-layer {
  background: $action-bar-background-color;
  color: $action-bar-color;
  font-weight: 500;
  height: 38px;
  padding: 0 15px;
  span {
    line-height: 35px;
  }
  a {
    margin-top: 7px;
  }
}
