@import "typographie";
@import "map";
@import "m-forms";
@import "m-buttons";
@import "breadcrumbs";
@import "navbar";
@import "forms";
@import "modals";
@import "tables";
@import "menus";
@import "buttons";
@import "icons";
@import "progress";
@import "typeahead";
@import "leaflet";
@import "slider";

.pagination {
  li {
    &:first-child, &:last-child {
      a, span {
        @include border-radius(0);
      }
    }
    &.current {
      a {
        color: #777;
        font-weight: bold;
        -webkit-box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.25);
           -moz-box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.25);
                box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.25);
      }
    }
  }
}

.box {
  width: 9px;
  height: 11px;
  float: left;
  @include box-sizing(border-box);
  @include box-shadow(1px 1px rgba(194, 194, 194, 0.60));
  border: 1px solid #E3E3E3;
  margin-left: 2px;
  background-color: rgba(44, 44, 44, 0.80);
}

.box-filled {
  background: rgba(255, 255, 255, 0.9);
}