.hud-panel-controls {
  padding: 0 10px 10px;
  max-height: 280px;
  overflow-x: hidden;
}

.timeline {
  .row {
    border: 1px solid $timeline-border-color;
    margin-left: 0;
    margin-right: 0;
  }
  .ui-slider-horizontal {
    margin-top: 5px;
  }
  .timeline-control, .date {
    border-right: 1px solid $timeline-border-color;
    text-align: center;
  }
  .ui-slider-range {
    background-image: none;
    background-color: $ui-slider-range-background-color;
  }
}
.opacity {
  .row {
    border: 1px solid $timeline-border-color;
    margin-left: 0;
    margin-right: 0;
  }
  .ui-slider-horizontal {
    margin-top: 5px;
  }
  .opacity-controler {
    border-right: 1px solid $timeline-border-color;
    padding-left: 8px;
  }
  .ui-slider-range {
    background-image: none;
    background-color: $ui-slider-range-background-color;
  }
}

.controls {
  text-align: right;
  margin-top: 5px;
  padding: 5px;
  background: $controls-background-color;
  border-top: $controls-border-color 1px solid;
  color: $controls-body-color;
  i {
    margin: 5px;
    font-size: 14px;
    cursor: pointer;
  }
}

.active-control {
  padding: 10px 10px 20px 10px;
  background: $active-control-background-color;
  border-top: 1px solid $active-control-border-color;
}
