.form-control {
  @include border-radius(0);
  @include box-shadow(none);
}

.form-signin {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 475px;
  height: 348px;
  background-color: $login-form-background-color;
  color: $login-form-body-color;
  @include border-radius(5px);
  &.with-errors {
    height: 425px;
  }
  h1 {
    text-align: center;
    color: $login-form-header-color;
  }
  .form-group {
    padding: 0 29px;
  }
  .form-actions {
    background-color: $login-form-actions-background-color;
    color: $login-form-actions-body-color;
    border-top: none;
    padding: 13px 29px 12px;
    position: relative;
    bottom: -15px;
  }
}

.form-control[readonly] {
  background-color: white;
}

.signup {
  float: left;
  padding: 12px 0 0;
  p {
    margin: 4px 0 0;
  }
  a {
    @include unstyled-link;
    @include link-colors(#008DDE, #0CA7FF, #0CA7FF);
  }
}

.form-actions {
  background-color: white;
  border-top: none;
  padding: 4px 20px 11px;
}

.modal {
  .control-label {
    width: 100px;
  }
  &.form-modal {
    .modal-body {
      max-height: 600px;
    }
  }
}

// LEFT NAVBAR - INFOS

textarea {
  resize: none;
}

textarea.code {
  font-family: monospace;
  font-size: 11px;
  white-space: pre-wrap;
}

.input-position {
  margin-left: 15px;
  margin-bottom: 0px;
  &.first {
    margin-left: 0px;
  }
}

.input-btn-default btn-xs {
  width: 53px;
}

select.cke_dialog_ui_input_select {
  height: auto !important;
}

.layers-search {
  .m-wrap.search-input {
    border: 1px solid #DADADA;
    border-right: none;
  }
  .btn {
    border-radius: 0 4px 4px 0 !important;
    padding: 10px 14px 10px;
  }
}