[class^="icon-"] {
  margin-top: 0;
  &.icon-layer {
    background: url("layers.png") no-repeat;
    width: 12px;
    height: 10px;
    margin-top: 3px;
    background-position: bottom;
    &:hover {
      background-position: top;
    }
  }
  &.icon-layer-blue {
    background: url("icon-layer.png") no-repeat;
    width: 14px;
    height: 10px;
  }
  &.icon-folder {
    background: url("icon-folder.png") no-repeat;
    width: 14px;
    height: 13px;
  }
  &.icon-throbber {
    background: url("throbber.svg") no-repeat;
    width: 16px;
    height: 16px;
  }
  &.icon-geovisu {
    background: url("geovisu.png") no-repeat;
  }
  &.icon-clock {
    background: url("icon-clock.png") no-repeat;
  }
}