.top-menu {
  position: absolute;
  z-index: 1000;
  right: 0;
  top: 0;
  a {
    @include unstyled-link;
    font: "Open Sans Condensed", Arial, sans-serif;
    font-weight: bolder;
    float: left;
    text-align: center;
    overflow: hidden;
    min-width: 110px;
    line-height: 28px;
    padding: 0 10px 0 5px;
    height: 30px;
    background: $clouds;
    color: $midnight_blue;
    border-right: $concrete 1px solid;
    text-transform: uppercase;
    &:first-child {
      border-radius: 0 0 0 4px;
    }
    &:last-child {
      border-right: none;
    }
    &:hover {
      background: #E2E2E2;
    }
  }
}