.thumbnail-folder {
  cursor: pointer;
  text-align: center;
  border: 1px solid transparent;
  &:hover {
    background: #f8f8f8;
    border: 1px solid #e7e7e7;
  }
}

.placeholder {
  width: 100%;
  background: $clouds;
  height: 170px;
}