.thumbnail-folder {
  cursor: pointer;
  text-align: center;
  border: 1px solid transparent;
  &:hover {
    background: #f8f8f8;
    border: 1px solid #e7e7e7;
  }
  h4 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.thumbnail-layer {
  padding: 0;
  h4 {
    padding: {
      left: 5px;
      right: 5px;
    }
  }
  p {
    padding: 10px 7px;
  }
}

.placeholder {
  width: 100%;
  background: $thumbnail-placeholder-background-color;
  height: 170px;
}