<!DOCTYPE html>
<html>
<head>
  <title>Frontend</title>
  <%= stylesheet_link_tag    "frontend/application", media: "all" %>
  <%= javascript_include_tag "frontend/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
